<% layout("/layouts/boilerplate.ejs")%>
<body>
    <br>
    <h3>Create a New Listing </h3>
    <br>
    <div class="row">

            <div class="col-8 offset-2">
                <form method="POST" action="/listings" class="needs-validation" novalidate  enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Enter a catchy title</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control"  required></textarea >
                            <div class="invalid-feedback">Enter a short description</div>
                        </div>
                    
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="price" class="form-control" placeholder="Enter Price"  required>
                            <div class="invalid-feedback">Enter a valid price</div>
                        </div>
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="country" class="form-control" placeholder="Enter Country"  required>
                            <div class="invalid-feedback">Enter a valid country</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control" placeholder="Enter Location"  required>
                        <div class="invalid-feedback">Enter a valid location</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label>
                        <input type="file" name="image" placeholder="Enter the image URL/Link" class="form-control" required>
                        <div class="invalid-feedback">Upload an Image</div>
                    </div>
                    <br>
                    <button class="btn btn-dark add-btn">Add</button>
                    
                </form>

            </div>

    </div>



    
    
</body>